<center>

<h1><span class="glyphicon glyphicon-ok" style="color:#F4511E"></span></h2>
	<h1>Added to Favorites!</h1><br/>

	<a href="/browse"><button type="submit" class="btn btn-default btn-lg">Go Back to Browsing</button></a> <a href="/home"><button type="submit" class="btn btn-default btn-lg">Search</button></a><br/><br/>
