<!DOCTYPE html>
<html>  
   <head>
	<title>Recipe Generator</title>
<body>
<h2>Recipe Generator</h2>
<nav>
 <ul>
 <li><a href="/home">Home</a></li>
 <li><a href="/login">Sign In</a></li>
 <li><a href="/register">Register</a></li>
 </ul>
</nav>
</body>
</html>