  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

  </div>

<div class="container w3-content w3-margin-top" style="max-width:1400px;">
   <div class="w3-row-padding" style="margin:0 -16px">
	
	<div class="w3-white w3-text-grey w3-card-4">
	 <div class="w3-display-container"
	
	<div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Jane Doe</h2>
          </div>
		  <%= image_tag('blank-profile.png', style: "height: 100px; width: 100px") %>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>User File</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>
          <hr>

          
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    

</div>

	



